[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
djangorestframework = "*"
celery = "*"
pyjwt = "*"
requests = "*"
pillow = "*"
django-filter = "*"
drf-yasg = "*"
django-cors-headers = "*"
amqp = "*"
crispy-tailwind = "*"
django-crispy-forms = "*"
django-debug-toolbar = "*"
coreapi = "*"
pyyaml = "*"
ipython = "*"
redis = "*"
psycopg2-binary = "*"
flower = "*"
pytz = "*"
uvicorn = "*"
gunicorn = "*"
whitenoise = "*"

[dev-packages]
autopep8 = "*"
pylint = "*"

[requires]
python_version = "3.12"
